<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Patrick+Hand"
		rel="stylesheet">
	<!--link rel="stylesheet" href="style.css"-->
	
	<style>
	body {
		margin: 0;
		font-family: 'Open Sans', serif;
		/*font-family: 'Roboto', sans-serif;*/
		font-size: 16px;
		max-width: 1024px;
		font-weight: 400;
		line-height: 1.5;
		color: #333333;
		margin: auto;
		/*background-color: #822433;*/
	}
	
	small {
		color: #888888;
		font-size: 10px;
	}
	
	span.T1 {
		color: #0074d9;
	}
	
	span.T2 {
		color: #ff851b;
	}
	
	span.T3 {
		color: #ff4136;
	}
	
	span.M1 {
		color: #3d9970;
	}
	
	span.M2 {
		color: #b10dc9;
	}
	
	div.page {
		padding: 12px;
		/*box-shadow: 0px 0px 10px #000000;*/
		background-color: #ffffff
	}
	
	h1 {
		font-size: 24pt;
		font-weight: 300;
		color: #822433;
		margin-bottom: 3pt;
	}
	
	h2 {
		font-size: 20pt;
		font-weight: 300;
		color: #822433;
	}
	
	h3 {
		font-size: 20pt;
		font-weight: 300;
		color: #782b35;
		page-break-before: always;
	}
	
	h4 {
		margin-top: 0pt;
		font-size: 16pt;
		font-weight: 700;
		color: #000000;
	}
	
	a {
		color: #00b3be;
		text-decoration: none;
	}
	
	a:hover {
		color: #f69240;
	}
	
	b {
		font-weight: 700;
	}
	
	table {
		width: 100%;
		font-family: arial, sans-serif;
		border-collapse: collapse;
	}
	
	th {
		border: 1px solid #000000;
		background-color: #000000;
		color: #ffffff;
		text-align: center;
		font-weight: bold;
		padding: 8px;
	}
	
	td {
		border: 1px solid #cccccc;
		text-align: center;
		padding: 4px;
		min-width: 60px;
	}
	
	td.legend {
		border: 0px;
		border-right: 4px solid #ffffff;
		font-weight: normal !important;
	}
	
	td:nth-child(1) {
		font-weight: bold;
	}
	
	.studgroup tr:nth-child(odd) {
		background-color: #eeeeee;
	}
	
	.studgroup td:nth-child(1) {
		width: 35%;
	}
	
	.studgroup td:nth-child(2) {
		width: 15%;
	}
	
	.studgroup td:nth-child(n+3) {
		width: 10%;
	}
	
	.classroom td:nth-child(1) {
		width: 5%;
	}
	
	.classroom td:nth-child(n+2) {
		width: 19%;
	}
	
	@media print {
		h1 {
			font-size: 18pt;
		}
		h2 {
			font-size: 14pt;
		}
		h3 {
			font-size: 14pt;
			page-break-before: always;
		}
		html {
			width: 210mm;
			height: 297mm;
		}
		body {
			margin: 0mm 0mm 0mm 0mm;
			font-size: 8pt;
			background-color: #ffffff;
		}
		td {
			font-size: 8pt;
			padding: 3px;
		}
		th {
			font-size: 10pt;
		}
		div.page {
			box-shadow: none;
		}
		small {
			font-size: 6px;
		}
	}
	
	@media screen {
		body {
			font-size: 16px;
			max-width: 1024px;
			width: 100%;
		}
		h3 {
			margin-top: 20px;
		}
	}
	
	.back-to-top {
		position: fixed;
		left: 30px;
		bottom: 20px;
		z-index: 3;
		cursor: pointer;
		font-size: 30px;
	}
	
	.arrow-up {
		border: solid #00b3be;
		border-width: 0 6px 6px 0;
		display: inline-block;
		padding: 6px;
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
	}
	
	.hidden {
	  display: none;
	}
	</style>
	
	<script type="text/javascript">
		// code that controls the behaviour of the "back to the top" button
		function init_page() {
			const showOnPx = 100;
			const backToTopButton = document.querySelector(".back-to-top")
			
			const scrollContainer = () => {
				return document.documentElement || document.body;
			};
			
			document.addEventListener("scroll", () => {
				if (scrollContainer().scrollTop > showOnPx) {
					backToTopButton.classList.remove("hidden")
				} 
				else {
					backToTopButton.classList.add("hidden")
				}
			});
			
			const goToTop = () => {
				document.body.scrollIntoView();
			};
			
			backToTopButton.addEventListener("click", goToTop)
		}
	</script>
	
	<title>Report A.A. {{AA}} - {{semester}} semestre</title>

</head>

<body onload="init_page()">
	<a class="back-to-top hidden"><i class="arrow-up"></i></a>

	<h1>
		Report calendario didattico - A.A. {{AA}} - <span
			style="text-decoration: underline;">{{semester}} semestre</span>
	</h1>
	<h4>{{semester_start}} - {{semester_end}}</h4>

	<div class="page">
		<h3>Hour count</h3>
		
		Il riepilogo che segue tiene conto dell'inizio e della fine del semestre e dei seguenti giorni di festa (estremi inclusi):
		
		<ul>
			{% for holiday in holidays %}
			<li>{{ holiday }}</li>
			{% endfor %}
		</ul>
	
		{{ course_hours }}
		
		{% for title, content in weekplans.items() %}
			<h3>{{ title }}</h3>
			{{ content }}
		{% endfor %}
	</div>
</body>
</html>
